<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>

<form th:action="@{/admin/add}" method="post">
    <label>Username: <input type="text" name="username"/></label><br>
    <label>Password: <input type="password" name="password"/></label><br>
    <label>Имя: <input type="text" name="firstName"/></label><br>
    <label>Фамилия: <input type="text" name="lastName"/></label><br>
    <label>Email: <input type="email" name="email"/></label><br>
    <label>Роли:<br>
        <input type="checkbox" name="roles" value="ROLE_USER"/> USER<br>
        <input type="checkbox" name="roles" value="ROLE_ADMIN"/> ADMIN<br>
    </label>
    <button type="submit">Создать</button>
</form>

<a href="/admin">Назад</a>
</body>
</html>
