<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать пользователя</title>
</head>
<body>
<h2>Редактировать пользователя</h2>

<form th:action="@{/admin/update}" method="post">
    <input type="hidden" name="id" th:value="${user.id}" />

    Username: <input type="text" name="username" th:value="${user.username}" /><br>
    Password: <input type="password" name="password" /><br>
    First name: <input type="text" name="firstName" th:value="${user.firstName}" /><br>
    Last name: <input type="text" name="lastName" th:value="${user.lastName}" /><br>
    Email: <input type="text" name="email" th:value="${user.email}" /><br>

    Roles:<br>
    <input type="checkbox" name="roles" value="ROLE_ADMIN"
           th:checked="${user.roles.?[name == 'ROLE_ADMIN'] != null}"/> ADMIN<br>
    <input type="checkbox" name="roles" value="ROLE_USER"
           th:checked="${user.roles.?[name == 'ROLE_USER'] != null}"/> USER<br>

    <button type="submit">Сохранить</button>
</form>

<br>
<a th:href="@{/admin}">Назад</a>
</body>
</html>
